In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('train.csv')


# Limit to the first 1000 rows
data = data.iloc[:1000]

x = data.drop(data.columns[[1, 2, 5, 7, 8, 9, 12,  14]], axis=1)
x.head()

,person_age,person_income,person_emp_exp,loan_amnt,cb_person_cred_hist_length,credit_score,loan_status
0,26.0,256862.0,2,35000.0,2.0,643,1
1,23.0,70430.0,0,6455.0,3.0,623,0
2,33.0,75456.0,10,7000.0,9.0,638,0
3,27.0,25052.0,7,5500.0,8.0,695,0
4,30.0,61291.0,8,3984.0,9.0,687,0

In [59]:
y = data['loan_status'].values

x1 = data['person_age'].values
x1 = x1.reshape(-1,1)

x2 = data['person_income'].values
x2 = x2.reshape(-1,1)

x3 = data['person_emp_exp'].values
x3 = x3.reshape(-1,1)

x4 = data['loan_amnt'].values
x4 = x4.reshape(-1,1)

x5 = data['credit_score'].values
x5 = x5.reshape(-1,1)

x_min = np.min(x1) + 100
x_max  = np.max(x1) - 100
x_syn = np.linspace(x_min, x_max, 1000)
x_syn = x_syn.reshape(-1, 1)

y_pred = w * x_syn + b


w = np.random.rand(1,1)
b = np.zeros(1,)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc_y = StandardScaler()

x1 = sc.fit_transform(x1)
x2 = sc.fit_transform(x2)
x3 = sc.fit_transform(x3)
x4 = sc.fit_transform(x4)
x5 = sc.fit_transform(x5)

y = sc_y.fit_transform(y.reshape(-1, 1))

y = y.reshape(-1)

plt.scatter(X, y)
plt.plot(x_syn, y_pred)

ValueError: operands could not be broadcast together with shapes (5,1) (1000,1)